<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-842">
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <a href="/" class="cs-header">Hussain Web Designs</a>
      <p class="cs-text-footer">
        We create websites that work as hard as you do. Every line of code is
        crafted with purpose, ensuring your website not only looks professional
        but actively helps grow your business. Let us handle your online
        presence while you focus on what you do best.
      </p>
    </div>
    <!-- Links -->
    <div class="cs-ul-wrapper">
      <span class="cs-header">Quick Links</span>
      <ul class="cs-ul cs-ul-1">
        <li class="cs-li">
          <a class="cs-link" href="/">Home</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/about">About</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/services">Services</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="cs-ul-wrapper">
      <!-- Contact Info -->
      <span class="cs-header">Contact Information</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <a class="cs-link" href="tel:555-497-1900">
            <img
              class="cs-contact-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone-grey.svg"
              alt="phone icon"
              width="20"
              height="20"
            />
            (+44) 7442 724028
          </a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="mailto:office@email.com">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmessage-grey.svg"
              alt="email icon"
              width="20"
              height="20"
            />
            hussainwebdesigns@gmail.com
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="cs-bottom">
    <span class="cs-credit">
      © Copyright 2025
      <a href="" class="cs-credit-link" target="_blank">Hussain Web Designs</a>
    </span>
  </div>
</footer>
