<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-842">
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <a href="/" class="cs-header">Southwest Prestige Hire</a>
      <p class="cs-text-footer">
        Southwest Prestige Hire provides luxury vehicle rental and chauffeur
        services throughout the UK. From prestigious Mercedes and BMWs to
        high-performance Audis and supercars, we offer exceptional vehicles for
        weddings, corporate events, special occasions, and self-drive hire.
      </p>
    </div>
    <!-- Links -->
    <div class="cs-ul-wrapper">
      <span class="cs-header">Quick Links</span>
      <ul class="cs-ul cs-ul-1">
        <li class="cs-li">
          <a class="cs-link" href="/">Home</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/about/">About</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/our-fleet/">Our Fleet</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/contact/">Contact</a>
        </li>
      </ul>
    </div>
    <div class="cs-ul-wrapper">
      <!-- Contact Info -->
      <span class="cs-header">Contact Information</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <div class="cs-link">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/email2.svg"
              alt="email icon"
              width="20"
              height="20"
            />
            southwestprestigehire@gmail.com
          </div>
        </li>
        <li class="cs-li">
          <!--Make this link go to the google page-->
          <a
            class="cs-link"
            href="https://www.google.com/maps/place/290-294+Southmead+Rd,+Westbury+on+Trym,+Bristol+BS10+5EN/@51.4964808,-2.6000601,17z/data=!3m1!4b1!4m6!3m5!1s0x487191f825d0aa09:0xef204ec53c11e1dd!8m2!3d51.4964775!4d-2.5974852!16s%2Fg%2F11bw4r48h8?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D"
            target="_blank"
          >
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/location-pin.svg"
              alt="pin icon"
              width="20"
              height="20"
            />
            290 - 294 Southmead Road, Bristol, BS10 5EN
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="cs-bottom">
    <span class="cs-credit">
      © Copyright 2025 | Developed by
      <a
        href="https://hussainwebdesigns.com/"
        class="cs-credit-link"
        target="_blank"
        >Hussain Web Designs</a
      >
    </span>
  </div>
</footer>
