<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1862">
    <div class="cs-container">
        <!--Top Section-->
        <div class="cs-top">
            <div class="cs-flex">
                <a href="/" class="cs-header cs-header-2">Safe & Secure 24/7</a>
                <p class="cs-text">Trusted 24/7 glazing, door repair, and emergency boarding services — proudly serving homes and businesses across Bristol and surrounding areas.</p>
                <ul class="cs-social">
                    <li class="cs-social-li">
                        <a href="https://www.tiktok.com/@safeandsecure247" class="cs-social-link" rel="noopener" target="_blank" aria-label="">
                            <img class="cs-social-icon cs-default" src="/assets/svgs/tiktok.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        </a>
                    </li>
                </ul>
            </div>
           <ul class="cs-ul">
            <span class="cs-header">Contact Info</span>
        <li class="cs-li">
          <a class="cs-link">
            <img
              class="cs-contact-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/phone-grey.svg"
              alt="phone icon"
              width="20"
              height="20"
/>
            07821 999989
          </a>
        </li>
        <li class="cs-li">
          <a class="cs-link">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/message-grey.svg"
              alt="email icon"
              width="20"
              height="20"
/>
            sas247@btinternet.com
          </a>
        </li>
      </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Hours</span>
                </li>
                <li class="cs-li">
                    Monday to Sunday
                </li>
                <li class="cs-li">
                    24 Hours, 7 Days a Week
                </li>
            </ul>
        </div>
        <!--Bottom Section-->
        <div class="cs-bottom">
            <!--Navigation-->
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <a href="/" class="cs-nav-link">Home</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/about" class="cs-nav-link">About Us</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/services" class="cs-nav-link">Services</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/our-projects" class="cs-nav-link">Our Projects</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/contact" class="cs-nav-link">Contact Us</a>
                </li>
            </ul>
            <span class="cs-copyright">
                © Copyright 2025 - <a href="" class="cs-copyright-link">Safe & Secure 24/7 | </a> Developed by <a href="https://hussainwebdesigns.co.uk/" target="_blank" rel="noopener" class="cs-copyright-link">Hussain Web Designs</a>
            </span>
        </div>
    </div>
</footer>
                                