<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-container">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="back to home">
      <img
        src="/assets/images/southwest-prestige-hire-logo.png"
        alt="logo"
        width="300"
        height="40"
        aria-hidden="true"
        decoding="async"
      />
    </a>
    <!--Navigation List-->
    <nav class="cs-nav" role="navigation">
      <!--Mobile Nav Toggle-->
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          <li class="cs-li">
            <a
              href="/"
              class="cs-li-link {{ 'cs-active' if '' == page.fileSlug }}"
            >
              Home
            </a>
          </li>
          <li class="cs-li">
            <a
              href="/about"
              class="cs-li-link {{ 'cs-active' if 'about' == page.fileSlug }}"
            >
              About Us
            </a>
          </li>
          <li class="cs-li">
            <a
              href="/our-fleet"
              class="cs-li-link {{ 'cs-active' if 'our-fleet' == page.fileSlug }}"
            >
              Our Fleet
            </a>
          </li>
          <li class="cs-li">
            <a
              href="/contact"
              class="cs-li-link {{ 'cs-active' if 'contact' == page.fileSlug }}"
            >
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <a href="/contact" class="cs-button-solid">Contact Us</a>
  </div>
</header>
