---
title: "About Us | Southwest Prestige Hire"
description: "Discover Southwest Prestige Hire's premium fleet of Mercedes, BMW, Audi and Land Rover vehicles. Offering professional chauffeur services for weddings, corporate events, airport transfers and special occasions across the UK."
preloadImg: "/assets/images/mercedes-about-page-hero.jpg"
permalink: "about/"
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2151">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">About Southwest Prestige Hire</span>
      <h2 class="cs-title">
        Southwest Prestige Hire - Luxury & Reliability Across the UK
      </h2>
      <p class="cs-text">
        Our service defines reliability, trust, and excellence. With a diverse
        fleet featuring desirable brands like Mercedes, Audi, BMW, and Land
        Rover, we stand as the premier choice for all your transportation needs.
      </p>
      <div class="cs-button-box">
        <a href="/our-fleet" class="cs-button-solid">Our Fleet</a>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
      </div>
    </div>
    <picture class="cs-background">
      <!--Mobile Image-->
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/mercedes-about-page-hero.jpg"
      />
      <!--Tablet and above Image-->
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/mercedes-about-page-hero.jpg"
      />
      <img
        loading="lazy"
        decoding="async"
        src="/assets/images/mercedes-about-page-hero.jpg"
        alt="icon"
        width="960"
        height="857"
      />
    </picture>
  </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-689">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex-group">
        <span class="cs-topper">Our Services</span>
        <h2 class="cs-title">
          We Provide Premium Services To
          <span class="cs-color">Enhance Your Journey</span>
        </h2>
      </div>
      <p class="cs-text">
        At Southwest Prestige Hire, your journey is important to us. We deliver
        a 5-star service with impeccable vehicles and chauffeurs to ensure your
        special moments are extraordinary.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a class="cs-link">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/svgs/wedding-rings.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Weddings & Special Occasions</h3>
          <p class="cs-item-text">
            Your wedding day is a celebration of love, and we believe that your
            transportation should reflect the same sentiment. Our chauffeur
            services ensure a smooth and timely arrival, allowing you to focus
            on the joy of the moment.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/svgs/briefcase.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Corporate Travel</h3>
          <p class="cs-item-text">
            Make a statement with our luxurious corporate travel services.
            Impress clients, ensure punctual arrivals to meetings, and travel in
            comfort and style. Our professional chauffeurs ensure discretion and
            reliability at all times.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/svgs/celebration.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Proms & Celebrations</h3>
          <p class="cs-item-text">
            Make your prom night extra special with our luxury vehicles. Make a
            grand entrance with a luxury vehicle that perfectly complements the
            significance of the event. Impeccable service and attention to
            detail for unforgettable memories.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/svgs/car-key.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Self-Drive Hire</h3>
          <p class="cs-item-text">
            For those who prefer the thrill of the open road, our self-drive
            service puts you in control. Our fleet of top-tier vehicles is
            available for you to drive, allowing you to experience the journey
            in a way that only a luxury car can provide.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/svgs/airplane-car.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Airport Transfers</h3>
          <p class="cs-item-text">
            Begin or end your journey in style with our premium airport transfer
            service. Our chauffeurs monitor flight times to ensure punctual
            pickups, assist with luggage, and provide a stress-free transition
            to or from your flight.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="/assets/svgs/uk-map.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="32"
              height="32"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Nationwide Service</h3>
          <p class="cs-item-text">
            Based in the Southwest but operating across the UK, our services are
            available nationwide. No matter where your journey takes you,
            Southwest Prestige Hire is ready to provide exceptional luxury
            transportation experiences.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1648">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Social</span>
        <h2 class="cs-title">More From Southwest Prestige Hire</h2>
      </div>
      <a
        href="https://www.instagram.com/southwestprestigehire"
        class="cs-button-solid"
      >
        <img
          class="cs-button-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/insta-icon.svg"
          alt="instagram"
          width="20"
          height="20"
        />
        @SouthwestPrestigeHire
      </a>
    </div>
    <div class="cs-gallery">
      <!--Picture 1-->
      <a href="https://www.instagram.com/p/DBUTl0qI5Fs/" class="cs-link">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/bmw-m3-back.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/bmw-m3-back.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/bmw-m3-back.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <img
          class="cs-link-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/insta-icon.svg"
          alt="instagram"
          width="48"
          height="48"
        />
      </a>
      <!--Picture 2-->
      <a href="https://www.instagram.com/p/DBjwWqjohUE/" class="cs-link">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/rover-svr-front.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/rover-svr-front.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/rover-svr-front.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <img
          class="cs-link-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/insta-icon.svg"
          alt="instagram"
          width="48"
          height="48"
        />
      </a>
      <!--Picture 3-->
      <a href="https://www.instagram.com/p/DEA5IhwoyQ3/" class="cs-link">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/lamborghini-urus-front.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/lamborghini-urus-front.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/lamborghini-urus-front.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <img
          class="cs-link-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/insta-icon.svg"
          alt="instagram"
          width="48"
          height="48"
        />
      </a>
      <!--Picture 4-->
      <a href="https://www.instagram.com/p/DC7WE1vooTH/" class="cs-link">
        <picture class="cs-image">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/g-wagon-about-page.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/g-wagon-about-page.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/g-wagon-about-page.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <img
          class="cs-link-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/insta-icon.svg"
          alt="instagram"
          width="48"
          height="48"
        />
      </a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Get in Touch</span>
      <h2 class="cs-title">Experience Luxury On Your Terms</h2>
      <p class="cs-text">
        Book our premium vehicles today and enjoy exceptional luxury car hire
        throughout the UK. Daily, weekly, and chauffeur services available
        nationwide.
      </p>
      <div class="cs-button-box">
        <a href="/our-fleet" class="cs-button-solid">Our Fleet</a>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
