/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1279 {
    padding: var(--sectionPadding);
    padding-top: 10rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-1279 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 53.125rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    /* 48px - 108px */
    gap: clamp(3rem, 5vw, 6.75rem);
  }
  #sbsr-1279 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    /* sends it to the bottom in the 2nd position */
    order: 2;
  }
  #sbsr-1279 .cs-title {
    max-width: 20ch;
  }
  #sbsr-1279 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-1279 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1279 .cs-picture {
    width: 100%;
    /* 456px - 598px */
    height: clamp(28.5rem, 46vw, 37.375rem);
    border-radius: 1.25rem;
    overflow: hidden;
    display: block;
    /* sends it to the bottom in the 2nd position */
    order: 2;
    position: relative;
    z-index: 1;
  }
  #sbsr-1279 .cs-picture:before {
    /* black overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #sbsr-1279 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1279 .cs-background {
    width: 100%;
    height: 50%;
    background-color: #1a1a1a;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-1279 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1279 .cs-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
  }
  #sbsr-1279 .cs-flex {
    width: 45%;
  }
  #sbsr-1279 .cs-title {
    margin: 0;
  }
  #sbsr-1279 .cs-text {
    width: 50%;
  }
  #sbsr-1279 .cs-button-solid {
    margin-right: auto;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1279 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #sbsr-1279 .cs-content {
    width: 100%;
    max-width: 27.0625rem;
    margin: 0;
    flex-direction: column;
    row-gap: 0;
    order: 1;
  }
  #sbsr-1279 .cs-flex {
    width: 100%;
  }
  #sbsr-1279 .cs-title {
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #sbsr-1279 .cs-text {
    width: 100%;
  }
  #sbsr-1279 .cs-picture {
    max-width: 46.125rem;
  }
  #sbsr-1279 .cs-background {
    width: 60vw;
    height: 100%;
    /* 172px - 336px */
    margin-left: clamp(11.125rem, 30vw, 21rem);
    left: 50%;
    top: 0;
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-315 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
  }
  #stats-315 .cs-card-group {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 37.5rem;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  #stats-315 .cs-item {
    list-style: none;
    /* set fixed width so they can all be aligned on the left */
    width: 14.6875rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #stats-315 .cs-picture {
    width: 5rem;
    height: 5rem;
    /* 12px - 20px */
    margin-right: clamp(0.75rem, 3vw, 1.25rem);
    border-radius: 50%;
    border: 1px solid #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #stats-315 .cs-icon {
    width: 2.5rem;
    height: auto;
  }
  #stats-315 .cs-flex-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #stats-315 .cs-number {
    font-size: var(--headerFontSize);
    color: var(--headerColor);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0;
    display: block;
  }
  #stats-315 .cs-stat {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats-315 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 2rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-315 .cs-card-group {
    max-width: 80rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-506 {
    padding: var(--sectionPadding);
  }
  #why-choose-506 .cs-container {
    width: 100%;
    /* changes to 1104px at tablet */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-506 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-506 .cs-title {
    max-width: 20ch;
  }
  #why-choose-506 .cs-text {
    max-width: 31.5rem;
  }
  #why-choose-506 .cs-text:before {
    /* divider line */
    content: "";
    width: 7.8125rem;
    height: 3px;
    margin-bottom: 1rem;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: relative;
  }
  #why-choose-506 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #why-choose-506 .cs-item {
    list-style: none;
    width: 100%;
    margin-right: 0;
    /* 24px - 28px top & bottom */
    /* 16px - 40px left & right */
    padding: clamp(1.5rem, 4vw, 1.75rem) clamp(1rem, 3vw, 2.5rem);
    border-bottom: 8px solid var(--primary);
    box-shadow: 0px 19px 33px rgba(94, 94, 94, 0.13);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #why-choose-506 .cs-icon {
    width: auto;
    height: 4.375rem;
    margin-bottom: 2.5rem;
  }
  #why-choose-506 .cs-h3 {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 2.5vw, 1.9375rem);
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--headerColor);
  }
  #why-choose-506 .cs-item-text {
    font-size: 1rem;
    text-align: left;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-506 .cs-container {
    max-width: 80rem;
  }
  #why-choose-506 .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #why-choose-506 .cs-flex {
    width: 50%;
    max-width: 34.375rem;
    flex: none;
  }
  #why-choose-506 .cs-topper,
  #why-choose-506 .cs-title {
    text-align: right;
  }
  #why-choose-506 .cs-title {
    margin: 0;
  }
  #why-choose-506 .cs-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #why-choose-506 .cs-text:before {
    width: 3px;
    height: 7.8125rem;
    /* 24px - 28px */
    margin: 0 clamp(1.5rem, 3vw, 1.75rem);
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-506 .cs-card-group {
    /* using grid here so we can have a perfect 2x2, it's really hard to do that with flexbox */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* makes sure all boxes are the same height even when they have mroe or less content inside of them */
    align-items: stretch;
    gap: 1.25rem;
  }
  #why-choose-506 .cs-item {
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-506 .cs-item {
    grid-column: span 3;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-704 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #reviews-704 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #reviews-704 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-704 .cs-title {
    max-width: 26ch;
    margin: 0;
  }
  #reviews-704 .cs-color {
    color: var(--primary);
  }
  #reviews-704 .cs-flex-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  #reviews-704 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
    font-size: min(2.22vw, .7em);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 41.0625em;
    height: 42.5em;
    position: relative;
    z-index: -1;
  }
  #reviews-704 .cs-picture {
    width: 35.625em;
    height: 42.5em;
    /* clips img tag corners */
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #reviews-704 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    /* flips the image to its original orientation */
    transform: scaleX(-1);
  }
  #reviews-704 .cs-flower {
    width: 16.6875em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 1.25em;
    right: -3em;
    z-index: -1;
    transform: rotate(115deg);
  }
  #reviews-704 .cs-sense {
    width: 5em;
    height: auto;
    position: absolute;
    top: -0.25em;
    left: 0.25em;
    transform: rotate(90deg);
  }
  #reviews-704 .cs-review-group {
    max-width: 33.8125rem;
  }
  #reviews-704 .cs-icon {
    /* 56px - 96px */
    width: clamp(3.5rem, 7vw, 6rem);
    height: auto;
    margin: 0 0 1.5rem 0;
    display: block;
  }
  #reviews-704 .cs-review-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0 0 1.5rem 0;
    color: var(--bodyTextColor);
  }
  #reviews-704 .cs-name {
    /* 20px - 23px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: var(--headerColor);
    display: block;
  }
  #reviews-704 .cs-job {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #reviews-704 .cs-waves {
    width: 55vw;
    /* 400px - 566px */
    max-width: clamp(25rem, 40vw, 35.375rem);
    height: auto;
    position: absolute;
    top: 0;
    /* 100px - 160px */
    right: calc(clamp(6.25rem, 17vw, 10rem)*-1);
    z-index: -1;
  }
  #reviews-704 .cs-waves img {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-704 .cs-container {
    max-width: 80rem;
  }
  #reviews-704 .cs-flex-group {
    flex-direction: row;
    justify-content: space-between;
  }
  #reviews-704 .cs-image-group {
    font-size: min(1.18vw, 1em);
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #reviews-704 .cs-review-group {
    width: 54%;
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1072 {
    padding: var(--sectionPadding);
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  #cta-1072 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-1072 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-1072 .cs-flex {
    max-width: 39.375rem;
  }
  #cta-1072 .cs-title {
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #cta-1072 .cs-button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  #cta-1072 .cs-button-solid {
    white-space: nowrap;
  }
  #cta-1072 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-1072 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.88;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-1072 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
