/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1279 {
      padding: var(--sectionPadding);
      padding-top: 10rem;
      overflow: hidden;
      position: relative;
      z-index: 1;

      .cs-container {
          width: 100%;
          /* changes to 1280px at desktop */
          max-width: (850/16rem);
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: stretch;
          flex-direction: column;
          /* 48px - 108px */
          gap: clamp(3rem, 5vw, 6.75rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: left;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: flex-start;
          /* sends it to the bottom in the 2nd position */
          order: 2;
      }

      .cs-title {
          max-width: 20ch;
      }

      .cs-text {
          margin-bottom: (16/16rem);
          &:last-of-type {
              margin-bottom: (32/16rem);
          }
      }

      .cs-picture {
          width: 100%;
          /* 456px - 598px */
          height: clamp(28.5rem, 46vw, 37.375rem);
          border-radius: (20/16rem);
          overflow: hidden;
          display: block;
          /* sends it to the bottom in the 2nd position */
          order: 2;
          position: relative;
          z-index: 1;

          &:before {
              /* black overlay */
              content: "";
              width: 100%;
              height: 100%;
              background: #1a1a1a;
              opacity: 0.3;
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              z-index: 1;
          }

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
          }
      }

      .cs-background {
          width: 100%;
          height: 50%;
          background-color: #1a1a1a;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1279 {
      .cs-content {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          row-gap: (32/16rem);
      }

      .cs-flex {
          width: 45%;
      }

      .cs-title {
          margin: 0;
      }

      .cs-text {
          width: 50%;
      }

      .cs-button-solid {
          margin-right: auto;
      }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1279 {
      .cs-container {
          max-width: (1280/16rem);
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
      }

      .cs-content {
          width: 100%;
          max-width: (433/16rem);
          margin: 0;
          flex-direction: column;
          row-gap: 0;
          order: 1;
      }

      .cs-flex {
          width: 100%;
      }

      .cs-title {
          margin: 0 0 (16/16rem) 0;
          color: var(--headerColor);
      }

      .cs-text {
          width: 100%;
      }

      .cs-picture {
          max-width: (738/16rem);
      }

      .cs-background {
          width: 60vw;
          height: 100%;
          /* 172px - 336px */
          margin-left: clamp(11.125rem, 30vw, 21rem);
          left: 50%;
          top: 0;
      }
  }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-315 {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;

      .cs-card-group {
          width: 100%;
          /* changes to 1280px at desktop */
          max-width: (600/16rem);
          margin: auto;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: (40/16rem);
      }

      .cs-item {
          list-style: none;
          /* set fixed width so they can all be aligned on the left */
          width: (235/16rem);
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
      }

      .cs-picture {
          width: (80/16rem);
          height: (80/16rem);
          /* 12px - 20px */
          margin-right: clamp(0.75rem, 3vw, 1.25rem);
          border-radius: 50%;
          border: 1px solid #bababa;
          display: flex;
          justify-content: center;
          align-items: center;
          /* prevents flexbox from squishing it */
          flex: none;
      }

      .cs-icon {
          width: (40/16rem);
          height: auto;
      }

      .cs-flex-group {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
      }

      .cs-number {
          font-size: var(--headerFontSize);
          color: var(--headerColor);
          font-weight: 900;
          line-height: 1.2em;
          margin: 0;
          display: block;
      }

      .cs-stat {
          font-size: var(--bodyFontSize);
          line-height: 1.5em;
          color: var(--bodyTextColor);
          display: block;
      }
  }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats-315 {
      .cs-card-group {
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: (20/16rem);
          row-gap: (32/16rem);
      }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-315 {
      .cs-card-group {
          max-width: (1280/16rem);
          flex-wrap: nowrap;
          justify-content: space-evenly;
      }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-506 {
      padding: var(--sectionPadding);

      .cs-container {
          width: 100%;
          /* changes to 1104px at tablet */
          max-width: (550/16em);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: left;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: flex-start;
      }

      .cs-title {
          max-width: 20ch;
      }

      .cs-text {
          max-width: (504/16rem);

          &:before {
              /* divider line */
              content: "";
              width: (125/16rem);
              height: 3px;
              margin-bottom: (16/16rem);
              background: var(--primary);
              opacity: 1;
              display: block;
              position: relative;
          }
      }

      .cs-card-group {
          width: 100%;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: stretch;
          flex-wrap: wrap;
          flex-direction: column;
          /* 16px - 20px */
          gap: clamp(1rem, 1.5vw, 1.25rem);
      }

      .cs-item {
          list-style: none;
          width: 100%;
          margin-right: 0;
          /* 24px - 28px top & bottom */
          /* 16px - 40px left & right */
          padding: clamp(1.5rem, 4vw, 1.75rem) clamp(1rem, 3vw, 2.5rem);
          border-bottom: 8px solid var(--primary);
          box-shadow: 0px 19px 33px rgba(94, 94, 94, 0.13);
          /* prevents padding and border from affecting height and width */
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
      }

      .cs-icon {
          width: auto;
          height: (70/16rem);
          margin-bottom: (40/16rem);
      }

      .cs-h3 {
          /* 25px - 31px */
          font-size: clamp(1.5625rem, 2.5vw, 1.9375rem);
          font-weight: 900;
          text-align: left;
          text-transform: uppercase;
          line-height: 1.2em;
          margin: 0;
          margin-bottom: (16/16rem);
          color: var(--headerColor);
      }

      .cs-item-text {
          font-size: (16/16rem);
          text-align: left;
          line-height: 1.5em;
          margin: 0;
          color: var(--bodyTextColor);
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-506 {
      .cs-container {
          max-width: (1280/16rem);
      }

      .cs-content {
          flex-direction: row;
          justify-content: center;
          align-items: center;
      }

      .cs-flex {
          width: 50%;
          max-width: (550/16rem);
          flex: none;
      }

      .cs-topper,
      .cs-title {
          text-align: right;
      }

      .cs-title {
          margin: 0;
      }

      .cs-text {
          display: flex;
          justify-content: center;
          align-items: center;
          &:before {
              width: 3px;
              height: (125/16rem);
              /* 24px - 28px */
              margin: 0 clamp(1.5rem, 3vw, 1.75rem);
              /* prevents flexbox from squishing it */
              flex: none;
          }
      }

      .cs-card-group {
          /* using grid here so we can have a perfect 2x2, it's really hard to do that with flexbox */
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          /* makes sure all boxes are the same height even when they have mroe or less content inside of them */
          align-items: stretch;
          gap: (20/16rem);
      }

      .cs-item {
          grid-column: span 6;
      }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-506 {
      .cs-item {
          grid-column: span 3;
      }
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-704 {
      padding: var(--sectionPadding);
      overflow: hidden;
      position: relative;

      .cs-container {
          width: 100%;
          /* changes to 1280px at tablet */
          max-width: (550/16rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
          position: relative;
          z-index: 1;
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: center;
      }

      .cs-title {
          max-width: 26ch;
          margin: 0;
      }

      .cs-color {
          color: var(--primary);
      }

      .cs-flex-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: (40/16rem);
      }

      .cs-image-group {
          /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
          font-size: ~"min(2.22vw, .7em)";
          /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
          width: (657/16em);
          height: (680/16em);
          position: relative;
          z-index: -1;
      }

      .cs-picture {
          width: (570/16em);
          height: (680/16em);
          /* clips img tag corners */
          overflow: hidden;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          img {
              width: 100%;
              height: 100%;
              /* makes it act like a background image */
              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
              /* flips the image to its original orientation */
              transform: scaleX(-1);
          }
      }

      .cs-flower {
          width: (267/16em);
          height: auto;
          display: block;
          position: absolute;
          bottom: (20/16em);
          right: (-48/16em);
          z-index: -1;
          transform: rotate(115deg);
      }

      .cs-sense {
          width: (80/16em);
          height: auto;
          position: absolute;
          top: (-4/16em);
          left: (4/16em);
          transform: rotate(90deg);
      }

      .cs-review-group {
          max-width: (541/16rem);
      }

      .cs-icon {
          /* 56px - 96px */
          width: clamp(3.5rem, 7vw, 6rem);
          height: auto;
          margin: 0 0 (24/16rem) 0;
          display: block;
      }

      .cs-review-text {
          /* 16px - 20px */
          font-size: clamp(1rem, 2vw, 1.25rem);
          line-height: 1.5em;
          text-align: left;
          margin: 0 0 (24/16rem) 0;
          color: var(--bodyTextColor);
      }

      .cs-name {
          /* 20px - 23px */
          font-size: clamp(1.25rem, 3vw, 1.5625rem);
          line-height: 1.2em;
          font-weight: 700;
          margin: 0 0 (8/16rem) 0;
          color: var(--headerColor);
          display: block;
      }

      .cs-job {
          font-size: (16/16rem);
          line-height: 1.5em;
          text-align: left;
          margin: 0;
          color: var(--primary);
          display: block;
      }

      .cs-waves {
          width: 55vw;
          /* 400px - 566px */
          max-width: clamp(25rem, 40vw, 35.375rem);
          height: auto;
          position: absolute;
          top: 0;
          /* 100px - 160px */
          right: ~"calc(clamp(6.25rem, 17vw, 10rem)*-1)";
          z-index: -1;

          img {
              width: 100%;
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-704 {
      .cs-container {
          max-width: (1280/16rem);
      }

      .cs-flex-group {
          flex-direction: row;
          justify-content: space-between;
      }

      .cs-image-group {
          font-size: ~"min(1.18vw, 1em)";
          /* prevents flexbox from squishing it */
          flex: none;
      }

      .cs-review-group {
          width: 54%;
      }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1072 {
      padding: var(--sectionPadding);
      background-color: var(--primary);
      position: relative;
      z-index: 1;

      .cs-container {
          width: 100%;
          max-width: (1280/16rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-flex {
          max-width: (630/16rem);
      }

      .cs-title {
          margin: 0;

          color: var(--bodyTextColorWhite);
      }

      .cs-button-box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: (16/16rem);
      }

      .cs-button-solid {
          white-space: nowrap;
      }

      .cs-background {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;

          &:before {
              /* background color overlay */
              content: "";
              position: absolute;
              display: block;
              height: 100%;
              width: 100%;
              background: #1a1a1a;
              opacity: 0.88;
              top: 0;
              left: 0;
              z-index: 1;
          }

          img {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              /* Makes img tag act as a background image */
              object-fit: cover;
          }
      }
  }
}