/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
  // Website colors
  :root {
    --primary: #E53825;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    --headerFontFamily: 'DM Serif Display', serif;
  }

  body {
    margin: 0;
    padding: 0;
  }

  *, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
  }
  .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: (4/16rem);
    display: block;
  }

  .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: (700/16rem);
    margin: 0 0 (16/16rem) 0;
    color: var(--headerColor);
    position: relative;
    font-family: var(--headerFontFamily);
    font-weight: 400;
    font-style: normal;
  }

  .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: (650/16rem);
    margin: 0;
    color: var(--bodyTextColor);
  }
   

  .cs-text-footer {
    margin: 0;
    max-width: 40.625rem;
    width: 100%;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    color: #bababa;
    text-align: inherit;
  }

  // Button - can be replaced using CodeStitch's "Button" Stitches
  .cs-button-solid {
    font-size: (16/16rem);
    text-align: center;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    width: (180/16rem);
    text-decoration: none;
    font-weight: 700;
    /* clips corners of the before element */
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;

    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }

    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }

  .cs-button-solid-dark {
    font-size: (16/16rem);
    line-height: (60/16rem);
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: clamp(1.5rem, 4vw, 2rem);
    color: #fff;
    padding: 0 (70/16rem);
    background-color: var(--primary);
    display: block;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: color 0.3s;

    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #001f3f;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }

    &:hover {
      color: var(--primary);
      &:before {
        width: 100%;
      }
    }
  }

  .cs-button-transparent {
    .cs-button-solid(); // Inherit base button styles
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;

      transition: width 0.3s;
      z-index: -1;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  .cs-button-transparent-white {
    .cs-button-solid(); // Inherit base button styles
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;

      transition: width 0.3s;
      z-index: -1;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  .cs-hide-on-mobile {
    display: none;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .cs-hide-on-mobile {
    display: block;
  }

  .cs-hide-on-desktop {
    display: none;
  }

  .cs-button-solid-dark {
    margin: 0;
    margin-right: 1rem;
    display: inline-block;
  }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
  body,
  html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 100%;
    color: var(--bodyTextColor);
  }

  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  body {
    transition: background-color 0.3s;
  }

  .container {
    position: relative;
    margin: auto;
    width: 92%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
    font-family: var(--headerFontFamily);
    font-weight: 400;
    font-style: normal;
  }

  p,
  li,
  a {
    margin: 0;
    font-size: (16/16rem);
    line-height: 1.5em;
  }

  p,
  li {
    color: #353535;
  }

  a,
  button {
    &:hover {
      cursor: pointer;
    }
  }

  // Hidden Screen reader skip nav button
  .skip {
    z-index: -1111111;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

  /* roboto-regular - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 400;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 700;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 900;
    font-display: swap;
    src: local(""),
      url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
  body,
  html {
    font-size: 0.55vw;
  }
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

  body.dark-mode {
      #dark-mode-toggle {
          .cs-sun {
              transform: translate(-50%, -50%);
              opacity: 1;
          }

          .cs-moon {
              transform: translate(-50%, -150%);
              opacity: 0;
              fill: #fff;
          }
      }
  }

  #dark-mode-toggle {
      display: block;
      position: absolute;
      top: (0/16rem);
      right: (16/16rem);
      width: (48/16rem);
      height: (48/16rem);
      background: transparent;
      border: none;
      overflow: hidden;
      padding: 0;
      z-index: 1000;
      transition: top .3s, right .3s;

      img, svg {
          //center image inside button
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: (20/16rem);
          height: (20/16rem);
          pointer-events: none;
      }

      .cs-moon {
          z-index: 2;
          // Transition properties
          transition: transform .3s, opacity .3s;
  
          // fill: yellow; --> uncomment to change the color of the moon if needed
      }
  
      .cs-sun {
          z-index: 1;
          // Transition property
          transform: translate(-50%, 100%);
          opacity: 0;
          transition: transform .3s, opacity .3s;
      }
  }
}

/* Tablet - 650px - 1024px */
@media only screen and (min-width: 40.625rem) and (max-width: 1299.5px) {
  #dark-mode-toggle {
      top: auto;
      right: auto;
      position: relative;
      order: 3;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 1024px) {
  #dark-mode-toggle {
      margin: 0;
      position: relative;
      transform: none;
      bottom: auto;
      right: auto;

      &:hover {
          cursor: pointer;
      }
  }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 1299.5px) {
  body {
      &.cs-open {
          overflow: hidden;
      }
  }
  
  #cs-navigation {
      width: 100%;
      padding: (12/16rem) (16/16rem) 0 (16/16rem);
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: fixed;
      z-index: 100;
      transition: transform .3s;

      &.cs-active {
          .cs-link {
              color: var(--bodyTextColorWhite);
          }

          .cs-ul-wrapper {
              opacity: 1;
              transform: scaleY(1);
              transition-delay: .1s;
          }

          .cs-li {
              transform: translateY(0);
              opacity: 1;
          }
      }

      &.scroll {
          transform: translateY(-3rem);

          #dark-mode-toggle {
              top: (68/16rem);
              right: (78/16rem);
          }
      }

      .cs-location {
          margin: 0;
          padding: 0;
          position: relative;
          transition: height .3s, padding-bottom .3s, opacity .3s;
          z-index: -3;
      }

      .cs-top-social {
          display: none;
      }

      .cs-top-bar {
          padding-bottom: (12/16rem);
          position: relative;
          z-index: 1;

          &:before {
              /* grey line */
              content: '';
              width: 100vw;
              height: 1px;
              background: #EFF1F0;
              opacity: 1;
              position: absolute;
              display: block;
              bottom: 0;
              left: 50%;
              z-index: -2;
              transform: translateX(-50%);
              transition: opacity .3s;
          }
      }

      .cs-bottom-bar {
          height: auto;
          padding: (20/16rem) 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      .cs-logo {
          height: 64px;
          width: auto;
          display: block;

          img {
              height: 100%;
              width: auto;
          }
      }

      .cs-logo-wrapper {
          width: auto;
          height: 100%;
          position: relative;
          z-index: 1;
          perspective: 700px;
          transform-style: preserve-3d;
      }

      .cs-default {
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
          transition:
              opacity 0.3s,
              transform 0.6s;
      }

      .cs-dark {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          opacity: 0;
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
          transform: rotateX(180deg);
          transition:
              opacity 0.3s,
              transform 0.6s;
      }

      .cs-desktop {
          display: none;
      }

      .cs-item {
          font-size: (16/16rem);
          line-height: (24/16rem);
          list-style: none;
          margin: 0;
          color: #585B5D;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: (4/16rem);
      }

      .cs-remove {
          display: none;
      }

      .cs-icon {
          width: (20/16rem);
          height: auto;
          display: block;
      }

      .cs-header {
          display: none;
      }
      
      .cs-link {
          font-size: (14/16rem);
          line-height: 1.5em;
          text-align: inherit;
          text-decoration: none;
          margin: 0;
          color: var(--bodyTextColor);
          display: block;
          transition: color .3s;
      }

      .cs-toggle {
          width: (48/16rem);
          height: (48/16rem);
          margin: 0;
          background-color: #F3F3F3;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .cs-active {
          .cs-line1 {
              top: 50%;
              transform: translate(-50%, -50%) rotate(225deg);
          }

          .cs-line2 {
              top: 50%;
              transform-origin: center;
              transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
          }

          .cs-line3 {
              bottom: 100%;
              opacity: 0;
          }
      }

      .cs-box {
          width: (20/16rem);
          height: (12/16rem);
          position: relative;
      }

      .cs-line {
          width: 100%;
          height: 2px;
          border-radius: 2px;
          background-color: #585B5D;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
      }

      .cs-line1 {
          top: 0;
          transform-origin: center;
          transition: transform .5s, top .3S, left .3S;
          animation-duration: .7s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
          animation-direction: normal;
      }

      .cs-line2 {
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          transition: top .3s, left .3s, transform .5s;
          animation-duration: .7s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
          animation-direction: normal;
      }

      .cs-line3 {
          width: (12/16rem);
          bottom: 0;
          left: 0;
          transform: none;
          transition: bottom .3s, opacity .3s;
      }

      .cs-contact-wrapper, .cs-tablet, .cs-button-border {
          display: none;
      }
  }

}

/* Tablet - 650px - 1024px */
@media only screen and (min-width: 40.625rem) and (max-width: 1299.5px) {
  #cs-navigation {
      .cs-location {
          display: flex;
          justify-content: flex-end;
          flex-direction: row;
      }

      .cs-top-bar {
          padding-bottom: (12/16rem);
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .cs-logo {
          margin-right: auto;
          order: 1;
      }

      .cs-item {
          position: relative;

          &:nth-of-type(2) {
              &:after {
                  display: none;
              }
          }

          &:after {
              /* divider line */
              content: '';
              width: 1px;
              height: 100%;
              margin: 0 (16/16rem);
              background: #CFD0D1;
              opacity: 1;
              position: relative;
              display: block;
          }
      }

      .cs-top-social {
          height: (32/16rem);
          visibility: visible;
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: (8/16rem);
          transition:
              opacity 0.3s,
              visibility 0.3s,
              height 0.3s;
      }

      .cs-social-link {
          text-decoration: none;
          width: (32/16rem);
          height: (32/16rem);
          background-color: #f7f7f7;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .cs-social-icon {
          width: (12/16rem);
          height: auto;
          opacity: 0.6;
          display: block;
      }

      .cs-bottom-bar {
          gap: (16/16rem);
      }

      .cs-li-link {
          font-size: (24/16rem);
      }

      .cs-nav-button {
          text-decoration: none;
          margin-right: (32/16rem);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: (16/16rem);
          order: 2;
          position: relative;
          perspective: 200px;
          transform-style: preserve-3d;
      
          &:hover {
              .cs-wrapper {
                  transform: rotateY(180deg);
              }
          }
      
          .cs-wrapper {
              width: (40/16rem);
              height: (40/16rem);
              display: flex;
              justify-content: center;
              align-items: center;
              /* prevents flexbox from squishing it */
              flex: none;
              position: relative;
              z-index: 1;
              transition: transform 0.6s;
      
              &:before {
                  /* backgorund color in pseudo so we can use the primary color variable and use opacity */
                  content: "";
                  width: 100%;
                  height: 100%;
                  background-color: #F3F3F3;
                  position: absolute;
                  display: block;
                  top: 0;
                  left: 0;
                  z-index: -1;
              }
          }
      
          .cs-icon {
              width: (24/16rem);
              height: auto;
              display: block;
              transition: transform 0.3s;
          }
      
          .cs-info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
          }
      
          .cs-header {
              font-size: (14/16rem);
              line-height: 1.5em;
              margin: 0;
              color: #585B5D;
              display: block;
          }
      
          .cs-link-content {
              font-size: (16/16rem);
              line-height: 1.5em;
              font-weight: 700;
              margin: 0;
              color: var(--headerColor);
              display: block;
          }
      }
      
      .cs-nav {
          order: 4;
      }                           
  }
}

/* Inbetween - 1024px */
@media only screen and (min-width: 1024px) {
  #cs-navigation {
      .cs-bottom-bar {
          justify-content: flex-start;
          padding: 0;
      }

      .cs-remove {
          display: flex;
      }

      .cs-toggle {
          display: none;
      }

      .cs-nav {
          order: 2;
      }

      .cs-ul {
          width: 100%;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          /* 20px - 36px */
          gap: clamp(1.25rem, 2.6vw, 2.25rem);
      }

      .cs-li {
          list-style: none;
          /* 24px - 28px */
          padding: clamp(1.5rem, 2.1vw, 1.75rem) 0;
          /* prevent flexbox from squishing it */
          flex: none;
          &:last-of-type {
              /* pushes the button to the far roght */
              margin-left: auto;
              padding: 0;
          }
      }

      .cs-li-link {
          font-size: (16/16rem);
          line-height: 1.5em;
          text-transform: uppercase;
          text-decoration: none;
          margin: 0;
          color: var(--headerColor);
          display: block;
          position: relative;
          transition: color .3s;

          &.cs-active, &:hover {
              color: var(--primary);
          }
      }

      .cs-nav-button {
          display: none;
      }
  }
}

/*-- -------------------------- -->
<---   Mobile Navigation Menu   -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (max-width: 1023.5px) {
  #cs-navigation {
      .cs-ul-wrapper {
          width: 70vw;
          max-width: (500/16rem);
          height: 100vh;
          opacity: 0;
          background-color: #1a1a1a;
          overflow: hidden;
          position: absolute;
          top: 100%;
          left: auto;
          right: 0;
          z-index: -1;
          transform: scaleX(0);
          transform-origin: top right;
          transition: transform .4s, opacity .3s;
      }

      .cs-logo.cs-mobile img.cs-default {
        width: 100%;
        max-width: 210px; /* increase or tweak as needed */
        height: auto;
        object-fit: contain;
      }
    
      .cs-logo.cs-mobile {
        max-width: 260px;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* align to left */
        margin-left: 0;
        margin-right: auto;
      }

      .cs-ul {
          margin: 0;
          /* 28px - 40px */
          padding: (48/16rem) clamp(1.75rem, 3vw, 2.5rem) (32/16rem) (70/16rem);
          width: auto;
          min-width: 40%;
          height: 65vh;
          overflow: scroll;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: flex-end;
          gap: (20/16rem);
      }

      .cs-li {
          text-align: right;
          list-style: none;
          width: 100%;
          margin-right: 0;
          /* transition from these values */
          transform: translateX(-2.5rem);
          opacity: 0;
          transition: transform .6s, opacity .9s;

          &:nth-of-type(1) {
              transition-delay: .05s;
          }
          &:nth-of-type(2) {
              transition-delay: .1s;
          }
          &:nth-of-type(3) {
              transition-delay: .15s;
          }
          &:nth-of-type(4) {
              transition-delay: .2s;
          }
          &:nth-of-type(5) {
              transition-delay: .25s;
          }
          &:nth-of-type(6) {
              transition-delay: .3s;
          }
          &:nth-of-type(7) {
              transition-delay: .35s;
          }
          &:nth-of-type(8) {
              transition-delay: .4s;
          }
          &:nth-of-type(9) {
              transition-delay: .45s;
          }
      }

      .cs-li-link {
          /* 16px - 24px */
          font-size: clamp(1rem, 2.5vw, 1.5rem);
          line-height: 1.2em;
          text-transform: uppercase;
          text-decoration: none;
          margin: 0;
          color: var(--bodyTextColorWhite);
          display: inline-block;
          position: relative;

          &.cs-active {
              color: var(--primary);
          }
      }
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 1300px) {
  #cs-navigation {
      /* 136px tall */
      --headerHeight: 8.5rem;

      width: 100%;
      padding: 0;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      position: fixed;
      z-index: 10000;
      transition: height .3s, background-color .3s;

      &.scroll {
          .cs-top-bar {
              height: 0;
              opacity: 0;
              overflow: hidden;
              &:before {
                  width: 0;
              }
          }

          .cs-middle {
              height: (80/16rem);
          }

          .cs-logo, .cs-contact-wrapper {
              height: (80/16rem);
          }

          .cs-logo {
              img {
                  max-height: (80/16rem);
              }
          }

          .cs-toggle {
              margin-top: 0;
          }
      }

      .cs-toggle {
          display: none;
      }

      .cs-logo {
          width: 20%;
          max-width: (340/16rem);
          height: var(--headerHeight);
          border-right: 1px solid #E7E7E8;
          padding: (16/16rem);
          /* prevents padding from affecting height and width */
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 100;
          transition: height .3s;

          img {
              width: 100%;
              max-width: (260/16rem);
              height: auto;
              max-height: (120/16rem);
              box-sizing: border-box;
              /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
              object-fit: contain;
              transition: max-height .3s, opacity .3s, transform .6s;
          }
      }

      .cs-logo-wrapper {
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1;
          perspective: 700px;
          transform-style: preserve-3d;
      }

      .cs-default {
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
      }

      .cs-dark {
          position: absolute;
          top: 0;
          left: 50%;
          z-index: -1;
          opacity: 0;
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
          transform: rotateX(180deg) translateX(-50%);
      }

      .cs-mobile {
          display: none;
      }

      .cs-top-bar {
          width: 100%;
          height: (56/16rem);
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          transition: height .3s, opacity .3s, transform .3s;

          &:before {
              /* grey line */
              content: '';
              height: 1px;
              background: #E7E7E8;
              opacity: 1;
              position: absolute;
              display: block;
              bottom: 0;
              left: (-40/16rem);
              right: (-40/16rem);
              z-index: -2;
              transition: width .3s;
          }
      }

      .cs-top-social {
          height: (32/16rem);
          visibility: visible;
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: (8/16rem);
          transition:
              opacity 0.3s,
              visibility 0.3s,
              height 0.3s;
      }

      .cs-social-link {
          text-decoration: none;
          width: (32/16rem);
          height: (32/16rem);
          background-color: var(--primary);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color .3s;

          &:hover {
              background-color: var(--primary);
          }
      }

      .cs-social-icon {
          width: (12/16rem);
          height: auto;
          opacity: 0.6;
          display: block;
      }

      .cs-location {
          display: flex;
          flex-direction: row;
      }

      .cs-item {
          list-style: none;
          margin: 0;
          display: flex;
          align-items: center;
          flex: none;
          justify-content: flex-start;
          gap: (4/16rem);
          position: relative;
          &:last-of-type {
              &:after {
                  display: none;
              }
          }

          &:hover {
              .cs-picture {
                  transform: scale(1.1);
              }
          }

          &:after {
              /* divider line */
              content: '';
              width: 1px;
              height: 100%;
              /* 24px - 44px */
              margin: 0 (24/16rem);
              background: #EFF1F0;
              opacity: 1;
              position: relative;
              display: block;
          }
      }
      
      .cs-link {
          font-size: (14/16rem);
          line-height: 1.5em;
          text-align: inherit;
          text-decoration: none;
          margin: 0;
          color: var(--bodyTextColor);
          display: block;
          transition: color .3s;
          &:hover {
              text-decoration: underline;
          }
      }

      .cs-middle {
          width: 100%;
          height: var(--headerHeight);
          padding: 0 (40/16rem) 0 (40/16rem);
          transition: height .3s;
      }

      .cs-nav {
          order: -1;
      }

      .cs-bottom-bar {
          width: 100%;
          /* prevents padding from affecting height and width */
          box-sizing: border-box;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: (32/16rem);
      }

      .cs-desktop-button {
          text-decoration: none;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: (16/16rem);
          order: 2;
          position: relative;
          perspective: 200px;
          transform-style: preserve-3d;
      
          &:hover {
              .cs-wrapper {
                  transform: rotateY(360deg);
              }
          }
      }

      .cs-wrapper {
          width: (56/16rem);
          height: (56/16rem);
          display: flex;
          justify-content: center;
          align-items: center;
          /* prevents flexbox from squishing it */
          flex: none;
          position: relative;
          z-index: 1;
          transition: transform 0.6s;
  
          &:before {
              /* backgorund color in pseudo so we can use the primary color variable and use opacity */
              content: "";
              width: 100%;
              height: 100%;
              background-color: #F3F3F3;
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              z-index: -1;
          }
      }
  
      .cs-button-icon {
          width: (20/16rem);
          height: auto;
          display: block;
          transition: transform 0.3s;
      }
  
      .cs-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
      }
  
      .cs-header {
          font-size: (14/16rem);
          line-height: 1.5em;
          margin: 0;
          color: #585B5D;
          display: block;
      }
  
      .cs-link-content {
          font-size: (16/16rem);
          line-height: 1.5em;
          font-weight: 700;
          margin: 0;
          color: var(--headerColor);
          display: block;
      }

      .cs-nav-button, .cs-button-border {
          display: none;
      }

      .cs-contact-wrapper {
          width: 18%;
          max-width: (294/16rem);
          height: var(--headerHeight);
          border-left: 1px solid #E7E7E8;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: none;
          transition: height .3s;
      }
  }
}

/* Small Desktop - 1500px */
@media only screen and (min-width: 1500px) {
  #cs-navigation {
      .cs-nav {
          margin-right: auto;
      }

      .cs-button-border {
          font-size: (16/16rem);
          line-height: (46/16rem);
          text-decoration: none;
          text-transform: uppercase;
          padding: 0 (28/16rem);
          color: var(--headerColor);
          border: 1px solid var(--headerColor);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: (10/16rem);
          transition: color .3s, background-color .3s;

          &:hover {
              background-color: var(--headerColor);
              color: #fff;
              .cs-icon {
                  filter: grayscale(1) brightness(1000%);
              }
          }

          .cs-icon {
              width: (20/16rem);
          }
      }
  }
}
                              

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-1862 {
      padding: var(--sectionPadding);
      padding-bottom: 3rem;
      background-color: #fff;

      .cs-container {
          width: 100%;
          max-width: (1280/16rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .cs-top {
          width: 100%;
          /* 48px - 64px */
          margin-bottom: clamp(3rem, 6vw, 4rem);
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          /* 64px - 100px */
          column-gap: clamp(4rem, 9vw, 6.25rem);
          row-gap: (32/16rem);
      }

      .cs-flex {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          /* 32px - 48px */
          gap: 2.5rem;
      }

      .cs-logo {
          width: 100%;
          max-width: (317/16rem);
          height: auto;

          img {
              width: 100%;
              height: auto;
          }
      }

      .cs-social {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: (8/16rem);
      }

      .cs-social-li {
          list-style: none;
      }

      .cs-social-link {
          width: (40/16rem);
          height: auto;
          padding: (12/16rem);
          background-color: var(--primary);
          border-radius: (32/16rem);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.3s;

          &:hover {
              background-color: var(--primary);

              .cs-social-icon {
                  filter: grayscale(1) brightness(1000%);
              }
          }
      }

      .cs-social-icon {
          width: (16/16rem);
          height: (16/16rem);
          display: block;
      }

      .cs-ul {
          width: auto;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: (8/16rem);
      }

      .cs-contact-ul {
          width: 100%;
          max-width: 100%;
          gap: (8/16rem);
      }

      .cs-li {
          list-style: none;
          margin: 0;
          display: block;
      }

      .cs-header {
          font-size: (20/16rem);
          font-weight: 700;
          line-height: 1.2em;
          /* 16px - 24px bottom */
          margin: 0 0 clamp(1rem, 3.5vw, 1.5rem) 0;
          color: var(--primary);
          display: block;
      }

      .cs-link, .cs-li {
          font-size: (16/16rem);
          line-height: 1.5em;
          text-decoration: none;
          margin: 0;
          color: var(--bodyTextColor);
          display: block;
          position: relative;
          z-index: 1;
      }

      .cs-link {
          &:hover {
              &:before {
                  width: 100%;
              }
          }

          &:before {
              /* on hover underline */
              content: "";
              width: 0%;
              height: 1px;
              background: currentColor;
              opacity: 1;
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              transition: width 0.3s;
          }
      }

      .cs-bottom {
          width: 100%;
          margin: 0;
          /* 20px - 40px top */
          padding-top: 2.5rem;
          border-top: 1px solid var(--primary);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 1.5rem;
      }

      .cs-nav {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 1rem;
          /* 20px - 40px */
          column-gap: clamp(1.25rem, 5.3vw, 2.5rem);
      }

      .cs-nav-li {
          list-style: none;
      }

      .cs-nav-link {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.5vw, 1rem);
          line-height: 1.5em;
          text-decoration: none;
          margin: 0;
          color: var(--bodyTextColor);
          position: relative;

          &:hover {
              color: var(--primary);

              &:before {
                  width: 100%;
              }
          }

          &:before {
              /* on hover underline */
              content: "";
              width: 0%;
              height: 1px;
              background: currentColor;
              opacity: 1;
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              transition: width 0.3s;
          }
      }

      .cs-copyright {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.5vw, 1rem);
          line-height: 1.5em;
          text-align: center;
          margin: 0;
          color: var(--bodyTextColor);
      }

      .cs-copyright-link {
          font-size: inherit;
          line-height: inherit;
          text-decoration: none;
          margin: 0;
          color: inherit;
          display: inline-block;
          &:hover {
              text-decoration: underline;
              color: var(--primary);
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-1862 {
      .cs-flex {
          width: auto;
          margin-right: auto;
      }

      .cs-contact-ul {
          /* 152px - 412px */
          width: clamp(9.5rem, 25vw, 25.75rem);
      }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-1862 {
    padding-bottom: (40/16rem);
      .cs-bottom {
          flex-direction: row;
          padding: clamp(1.25rem, 5vw, 2.5rem) 0 0 0;
      }

      .cs-flex {
        gap: clamp(2rem, 4vw, 3rem);
      }

      .cs-copyright {
          text-align: right;
      }

      .cs-nav {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* 20px - 40px */
        column-gap: clamp(1.25rem, 5.3vw, 2.5rem);
    }
  }
}                             
