---
title: "Noble Autos | Mobile Vehicle Customisation & Repairs Bristol"
description: "Bristol's mobile automotive specialists offering professional vehicle customisation, repairs, and maintenance at your location. Fully qualified technicians for body kits, coding, and servicing."
preloadImg: "/assets/images/BMW-Interior-Homepage.webp"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
          "sameAs": [{% for platform, url in client.socials %}
                  {% if not loop.first %},{% endif %}
                  "{{ url }}"
              {% endfor %}]
      {% endif %}
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1060">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Noble Autos</h1>
      <p class="cs-text">
        We are Bristol’s mobile automotive specialists offering vehicle
        customisation, repairs, and maintenance at your convenience - whether at
        home, work, or anywhere you choose.
      </p>
      <a href="/contact" class="cs-button-solid">Book Mobile Service</a>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/location.svg"
            alt="car"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">We Come To You</h3>
        <p class="cs-item-text">
          Choose when and where you want your service - at home, work, or
          anywhere convenient.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/shield.svg"
            alt="car"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">Fully Qualified</h3>
        <p class="cs-item-text">
          Level 3 certified technician with EV and Gas handling qualifications.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/clock.svg"
            alt="car"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">Experienced</h3>
        <p class="cs-item-text">
          4 years of expertise with over 500 vehicles serviced.
        </p>
      </li>
    </ul>
  </div>

  <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/BMW-Interior-Homepage.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/BMW-Interior-Homepage.webp"
    />
    <img
      decoding="async"
      src="/assets/images/BMW-Interior-Homepage.webp"
      alt="mechanic"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1338">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Services</span>
      <h2 class="cs-title">Transform Your Vehicle</h2>
      <p class="cs-text">
        From custom body kits to advanced vehicle coding, we provide
        comprehensive automotive services at your preferred location across
        Bristol.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a
          href="https://www.instagram.com/noble.autos/p/C51lntRoq5i/?img_index=1"
          class="cs-link"
        >
          <span class="cs-number">01</span>
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/body-kit.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/body-kit.webp"
            />
            <img
              decoding="async"
              src="/assets/images/body-kit.webp"
              alt="finance"
              width="413"
              height="374"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Body Kits</h3>
            <p class="cs-item-text">
              Professional installation and customisation of body kits to
              transform your vehicle’s appearance.
            </p>
          </div>
        </a>
      </li>
      <li class="cs-item">
        <a
          href="https://www.instagram.com/noble.autos/p/C_bHuRLo4Su/?img_index=1"
          class="cs-link"
        >
          <span class="cs-number">02</span>
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/ambient-lighting.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/ambient-lighting.webp"
            />
            <img
              decoding="async"
              src="/assets/images/ambient-lighting.webp"
              alt="finance"
              width="413"
              height="374"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Ambient Lighting</h3>
            <p class="cs-item-text">
              Custom interior lighting solutions to enhance your driving
              experience.
            </p>
          </div>
        </a>
      </li>
      <li class="cs-item">
        <a
          href="https://www.instagram.com/noble.autos/p/C4vZ1HWIoOf/"
          class="cs-link"
        >
          <span class="cs-number">03</span>
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/carplay-retrofit.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/carplay-retrofit.webp"
            />
            <img
              decoding="async"
              src="/assets/images/carplay-retrofit.webp"
              alt="finance"
              width="413"
              height="374"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Vehicle Coding & Retrofits</h3>
            <p class="cs-item-text">
              Expert vehicle coding and retrofit services for modern features
              and upgrades.
            </p>
          </div>
        </a>
      </li>
      <li class="cs-item">
        <a
          href="https://www.instagram.com/noble.autos/p/Cuh2t-DNlGC/?img_index=1"
          class="cs-link"
        >
          <span class="cs-number">04</span>
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/car-repair.webp"
            />
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/car-repair.webp"
            />
            <img
              decoding="async"
              src="/assets/images/car-repair.webp"
              alt="finance"
              width="413"
              height="374"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Maintenance & Repair</h3>
            <p class="cs-item-text">
              Comprehensive vehicle maintenance and repair services at your
              location
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbsr-1190">
  <div class="cs-container">
    <div class="cs-image-group">
      <!--Stat Group-->
      <div class="cs-stat">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/3-star.svg"
            alt="icon"
            width="48"
            height="48"
            aria-hidden="true"
          />
        </picture>
        <div class="cs-flex">
          <span class="cs-number">500+</span>
          <span class="cs-desc">Vehicles Services</span>
        </div>
      </div>

      <!--Car-->
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/SEAT-Cupra-Homepage.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/SEAT-Cupra-Homepage.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/SEAT-Cupra-Homepage.webp"
          alt="appliance"
          width="858"
          height="477"
        />
      </picture>

      <!--Person, to make your own crop of a person, use https://www.remove.bg/ to remove the background of any image -->
      <picture class="cs-picture cs-picture2"> </picture>

      <!--Stripe background-->
      <div class="cs-graphic-wrapper">
        <img
          class="cs-graphic"
          loading="lazy"
          decoding="async"
          src="assets/svgs/tire-mark.svg"
          alt="tire mark"
          width="1469"
          height="626"
          aria-hidden="true"
        />
      </div>
    </div>
    <div class="cs-content">
      <span class="cs-topper">Who We Are</span>
      <h2 class="cs-title">Expert Mobile Auto Services</h2>
      <p class="cs-text">
        All of our Vehicle Technicians are fully qualified with specialised
        certifications in EV high voltage systems and gas handling, allowing us
        to bring professional expertise directly to you. Our mobile services
        means you can get expert automotive care without disrupting your
        schedule.
      </p>
      <p class="cs-text">
        We pride ourselves on flexibility and convenience, allowing you to
        choose your preferred service location.
      </p>
      <a href="/about" class="cs-button-solid">Read More</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-2250">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Gallery</span>
      <h2 class="cs-title">Our Latest Work</h2>
      <p class="cs-text">
        Take a look at some of our recent installations and modifications. From
        custom body kits and ambient lighting to vehicle coding and general
        servicing, here's what we've been working on.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a
          href="https://www.instagram.com/noble.autos/p/DFSo38kta8j/?img_index=1"
          class="cs-link"
        >
          <div class="cs-wrapper">
            <span class="cs-header">Mercedes W214</span>
            <h3 class="cs-h3">
              Body Kit Installation
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/upper-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </h3>
          </div>
          <!--Background Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/mercedes-w214-bodykit-installation.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/mercedes-w214-bodykit-installation.webp"
            />
            <img
              decoding="async"
              src="/assets/images/mercedes-w214-bodykit-installation.webp"
              alt="person"
              width="352"
              height="440"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item cs-shift">
        <a
          href="https://www.instagram.com/noble.autos/p/DE5Q1ZgthQ8/"
          class="cs-link"
        >
          <div class="cs-wrapper">
            <span class="cs-header">Audi S3 8Y</span>
            <h3 class="cs-h3">
              Coding
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/upper-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </h3>
          </div>
          <!--Background Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/audi-s3-8y-coding.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/audi-s3-8y-coding.webp"
            />
            <img
              decoding="async"
              src="/assets/images/audi-s3-8y-coding.webp"
              alt="person"
              width="352"
              height="440"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item">
        <a
          href="https://www.instagram.com/noble.autos/p/DFLjeQsOWLZ/?img_index=1"
          class="cs-link"
        >
          <div class="cs-wrapper">
            <span class="cs-header">Ford Fiesta</span>
            <h3 class="cs-h3">
              Vehicle Repairs
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/upper-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </h3>
          </div>
          <!--Background Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/Ford-Fiesta-vehicle-repairs.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/Ford-Fiesta-vehicle-repairs.webp"
            />
            <img
              decoding="async"
              src="/assets/images/Ford-Fiesta-vehicle-repairs.webp"
              alt="person"
              width="352"
              height="440"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item">
        <a
          href="https://www.instagram.com/noble.autos/p/DELwV3aNuKs/?img_index=1"
          class="cs-link"
        >
          <div class="cs-wrapper">
            <span class="cs-header">Mercedes W205</span>
            <h3 class="cs-h3">
              Carplay Retrofit
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/upper-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </h3>
          </div>
          <!--Background Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/Mercedes-W205-carplay-retrofit.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/Mercedes-W205-carplay-retrofit.webp"
            />
            <img
              decoding="async"
              src="/assets/images/Mercedes-W205-carplay-retrofit.webp"
              alt="person"
              width="352"
              height="440"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item cs-shift">
        <a
          href="https://www.instagram.com/noble.autos/p/DFQS5sWNeuQ/?img_index=1"
          class="cs-link"
        >
          <div class="cs-wrapper">
            <span class="cs-header">BMW M4</span>
            <h3 class="cs-h3">
              Front Splitter Installation
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/upper-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </h3>
          </div>
          <!--Background Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/BMW-M4-front-splitter-installation.webp"
            />
            <!--Tablet and above Image-->
            <source
              srcset="/assets/images/BMW-M4-front-splitter-installation.webp"
            />

            <img
              loading="lazy"
              decoding="async"
              src="/assets/images/BMW-M4-front-splitter-installation.webp"
              alt="person"
              width="352"
              height="440"
            />
          </picture>
        </a>
      </li>
      <li class="cs-item">
        <a
          href="https://www.instagram.com/noble.autos/p/DD1-R-coUBW/?img_index=1"
          class="cs-link"
        >
          <div class="cs-wrapper">
            <span class="cs-header">VW Golf MK6</span>
            <h3 class="cs-h3">
              Footwell Lighting
              <img
                class="cs-icon"
                loading="lazy"
                decoding="async"
                src="/assets/svgs/upper-right-arrow.svg"
                alt="icon"
                width="32"
                height="32"
                aria-hidden="true"
              />
            </h3>
          </div>
          <!--Background Image-->
          <picture class="cs-background">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/VW-Golf-MK6-footwell-lighting.webp"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="/assets/images/VW-Golf-MK6-footwell-lighting.webp"
            />
            <img
              decoding="async"
              src="/assets/images/VW-Golf-MK6-footwell-lighting.webp"
              alt="person"
              width="352"
              height="440"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-64">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Reviews</span>
      <h2 class="cs-title">Words From Our Customers</h2>
      <p class="cs-text">
        Feedback from our customers across Bristol and surrounding areas.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="assets/svgs/stars-yellow.svg"
          alt="profile"
          width="116"
          height="20"
        />
        <span class="cs-name">Dylan M.</span>
        <span class="cs-desc">BMW 330i Owner</span>
        <p class="cs-item-text">
          Couldn’t be happier, the car looks great! Thanks again.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="assets/svgs/stars-yellow.svg"
          alt="profile"
          width="116"
          height="20"
        />
        <span class="cs-name">Farhan H.</span>
        <span class="cs-desc">VW Golf MK7 Owner</span>
        <p class="cs-item-text">Noble Autos is the best in the game !!</p>
      </li>
      <li class="cs-item">
        <img
          class="cs-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="assets/svgs/stars-yellow.svg"
          alt="profile"
          width="116"
          height="20"
        />
        <span class="cs-name">Sahil S.</span>
        <span class="cs-desc">Seat Leon Cupra Owner</span>
        <p class="cs-item-text">
          Everyone contact @Noble Autos for the best body kit fittings in
          Bristol !
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Get in Touch</span>
      <h2 class="cs-title">Ready to Transform Your Vehicle?</h2>
      <p class="cs-text">
        Book our mobile service today and get expert automotive care at your
        location in Bristol and surrounding areas.
      </p>
      <div class="cs-button-box">
        <a href="/about" class="cs-button-solid-dark">About Us</a>
        <a href="/services" class="cs-button-transparent">View Services</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
